* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-1 {
    background-color: #1abc9c;
    color: #fff;
}

.bg-2 {
    background-color: #474e5d;
    color: #fff;
}

.bg-3 {
    background-color: #ffffff;
    color: #555;
}

.container-fluid {
    padding: 70px 0;
}

